* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.cursor {
  pointer-events: none;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  border: 2px dashed white;
  z-index: 1001;
}

.cursor1 {
  pointer-events: none;
  display: none;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100px;
  background: rgb(255, 255, 255)
}
.swap-cursor1{
  border: 2px dashed #0D0D0D;
}
.swap-cursor2{
  background: #0D0D0D;
}
*::after,
*::before {
  box-sizing: border-box;
}

.rgbKineticSlider {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

.rgbKineticSlider canvas {
  position: absolute;
  display: block;
  top: 0 !important;
  left: 0 !important;
  transform: scale(1) !important;
  z-index: -2;
  max-height: 850px;
}

.overlay-for-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(360deg, #0C0C0C 2.19%, rgba(65, 31, 146, 0) 28.28%);
}

section {
  margin-bottom: 80px;
}

@font-face {
  font-family: 'Lozung';
  src: local('Lozung'),
    url(./res/Lozung\ Caps\ Black.otf);
}

body {
  overflow-x: hidden;
  cursor: none;
  background-color: #0C0C0C;
  transition: all .5s ease-in-out;
}

h1 {
  display: block;
  font-family: Lozung;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
h3{
  font-family: Lozung;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
}

.header-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-screen{
  z-index: 5;
}
.up-to-menu{
  border: solid 1px #0D0D0D;
  opacity: 0;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  position: fixed;
  top: 85%;
  left: 93%;
  z-index: 5;
  border-radius: 100px;
}
.social {
  display: flex;
}
.mobile-wrapper{
  display: none;
}
.social li {
  text-decoration: none;
  list-style-type: none;
  margin-right: 30px;
}
.social img{
  transition: .5s ease-in-out;
}

.social img:hover {
  transform: rotate(20deg);
}

.social li:last-child {
  margin: 0;
}

.overlay-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.overlay-menu span {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 10px;
}

.btn-type1 {
  cursor: pointer;
  width: 244px;
  height: 63px;
  opacity: 1;
  /* left: 62px;
  top: 631px; */
  border: 2px dashed #FFFFFF;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

.btn-type1:hover {
  border: 20px solid #FFFFFF;
  border-radius: 45px;
  filter: drop-shadow(0px 4px 15px rgba(255, 255, 255, 0.41));
}

.btn-inside-panel {
  width: 234px;
  height: 53px;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #0D0D0D;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-transform: uppercase;
}

.main-offer {
  margin-top: 150px;
}

.main-offer__nav-menu {
  margin-bottom: 20px;

}

.main-offer__nav-menu a {

  transition: .5s;
}

.main-offer__nav-menu a:hover {
  color:#0D0D0D;
}

.main-offer__h1 {
  max-width: 820px;
  margin-bottom: 10px;
}

.main-offer__nav-menu a {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  color: #FFFFFF;
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 283px;
  margin: 60px auto 0 auto;
  padding-bottom: 60px;
}

.slider-nav a {
  transition: .5s ease-in-out;
}

.slider-nav a:hover {
  transform: translateY(-10px);
}

.slider-nav span {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.about-txt {
  margin-top: 40px;
  display: flex;
}

.about-txt p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  max-width: 433px;
  color: #FFFFFF;
  margin-right: 20px;
}

.about-txt p:last-child {
  margin-right: 0px;
}

.about-line {
  max-width: 880px;
  height: 1px;
  margin-top: 40px;
  background-color: white;
}

.txt-offer__main-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  font-family: Lozung;
  color: #424242;
}

.txt-offer__main-txt * {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  font-family: Lozung;
  color: #F2F2F2;
  text-decoration-line: underline;
}
.txt-offer__animation-txt{
  margin: 100px 0 100px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 110px;
}
@keyframes moveRight {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(40%);
    color: #424242;
  }
}
@keyframes moveLeft {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-40%);
    color: #424242;
  }
}
.animation-txt-intro2{
  width: max-content;
  position: absolute;
  right: 0;
  animation: moveRight 10s linear infinite alternate;
}
.animation-txt-intro{
  margin-top: 50px;
  width: max-content;
  left: 0;
  position: absolute;
  animation: moveLeft 10s linear infinite alternate;
}

.autor-about__intro{
  margin-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  max-width: 433px;
  color: #FFFFFF;
}
.btntype2{
  border: 2px dashed #FFFFFF;
  border-radius: 45px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}
.btninside{
  width: 234px;
  height: 53px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 45px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0D0D0D;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}
.btninside:hover{
  background:#0C0C0C;
  color:#FFFFFF;
}
.btntype2:hover{
  transform: translateY(-5px);
}
.vk-btn{
  max-width: 136px;
}
.vk-btn a{
  width: 126px;
}
.email-btn a{
  width: 351px;
}
.autro-about__btns{
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 30px;
}
.section-what-interesting{
  padding-top: 80px;
}
.tablet-href{
  max-width: 100%;
  height: 225px;
  border: 1px solid #0D0D0D;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.what-interesting__white-swap{
  color: #0D0D0D;
}
.white-style{
  background-color: #F2F2F2;
  transition: all .5s ease-in-out;
}
.what-interesting__white-swap{
  margin-bottom: 60px;
}
.tablet-href__place{
  width: 433px;
  padding: 30px 0 0 30px;
  height: 100%;
  border: 1px solid #0D0D0D;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.tablet-href__place__txt{
  display: block;
  width: 244px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #0D0D0D;
  margin-bottom: 30px;
  transition: all .5s ease-in-out;
}
.tablet-href__place:hover > .tablet-href__place__txt{
  font-size: 40px;
}
.arrow-tablet{
  transition: all .5s ease-in-out;
}
.tablet-href__place:hover > .arrow-tablet{
  transform: rotate(90deg);
  
}
.content-txt-offer__sections{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #9A9A9A;
  margin-bottom: 15px;
  display: block;
}
.content-txt-offer__title{
  font-family: Lozung;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: #0D0D0D;
  max-width: 425px;
  margin-bottom: 15px;
}
.content-txt-offer__btns{
  display: flex;
  justify-content: space-between;
  width: 325px;
}
.black-type{
  border: 2px dashed #0D0D0D;
}
.black-btninside{
  background: #0D0D0D;
  color: #fff;
}
.black-type:hover > .black-btninside{
  background: #fff;
  color: #0D0D0D;
}
.icon-wrp-blackType{
  border: 2px dashed #000000;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all .5s ease-in-out;
}
.icon-wrp-blackType:hover{
  transform: translateY(-5px);
}
.content-img{
  perspective: 1000;
  position: relative;
  max-width: 887px;
  height: auto;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.25);
}
.content-img img{
  max-width: 100%;
  height: auto;
}
.section-locmotive{
  margin-top: 150px;
}
.locomotive-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;;
}
.content-txt-offer{
  opacity: 0;
  transform: rotate(45deg);
}
.design-panel-title{
  margin-top: 30px;
  max-width: 433px;
}
.design-panel{
  max-width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  grid-gap: 15px;
  list-style: none;
  margin-top: 25px;
  padding-bottom: 130px;
}
.design-panel li{
  position: relative;
  max-width: 32%;
  z-index: 0;
  height: auto;
  transition: all .5s ease-in-out;
}
.design-panel li:hover{
  transform: translateY(-10px);
}
.design-panel-img{
  max-width: 100%;
  max-height: auto;
}
.info-inp{
  background: none;
  border: 0px;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  max-width: 660px;
  color: #ffffff;
  display: block;
}
.main-form{
  display: flex;
  justify-content: space-between;
}
.form-form{
  margin-top: 80px;
}
.comment-txt{
  background: none;
  border: 1px solid #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 660px;
  color: #ffffff;
  display: block;
  resize: none;
  height: 357px;
  padding: 10px 0 0 25px;
}
.info-inp:focus{
  border-bottom: 3px solid #fff;
  outline: none;
  
}
.btn-label input{
  appearance: none;
  opacity: 0;
  position: absolute;
}
.btn-label{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #FFFFFF;
  border-radius: 45px;
  width: 244px;
  height: 63px;
  max-height: 63px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all .5s ease-in-out;
}
.btn-label:hover{
  transform: translateY(-5px);
}
.form-checkbox input{
  opacity: 0;
  position: absolute;
  appearance: none;
}
.form-checkbox input:checked + .btn-label{
  background-color: #fff;
  color: #0C0C0C;
  border: 2px dashed #0C0C0C;
}
.checkbox-style{
  width: 244px;
  height: 63px;
  max-height: 63px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
}
.budjet{
  display: block;
  margin: 30px 0 30px 0;
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form-checkboxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrp{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__txt{
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  max-width: 380px;
  color: #0D0D0D;
}
.footer{
  background: #FFFFFF;
  border-radius: 25px 25px 0px 0px;
  padding: 45px 0 45px 0;
}
.overlay-menu-nav{
  transition: all .5s ease-in-out;
  z-index: 99;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #f2f2f2;
}
.overlay-menu-nav *{
  z-index: 100;
}
.menu-navigation *{
  text-decoration: none;
  color: #0D0D0D;
  display: block;
  text-align: center;
}
.menu-navigation{
  margin: 150px auto 0;
}
.close-modal-btn{
  position: absolute;
  top: 5%;
  right: 5%;
  margin-top: 30px;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-navigation a{
  margin-bottom: 25px;
  transition: all .5s ease-in-out;
}
.menu-navigation a:hover{
  transform: translateY(-5px);
}
.close-modal-btn:hover{
  transform: rotate(45deg);
}
.contacts-overlay{
  margin-top: 110px;
}
.open-modal{
  transition: all .5s ease-in-out;
  display: block;
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .container{
    max-width: 1140px;
  }
  .email-btn a{
    width: 280px;
  }
  .btninside{
    width: 210px;
    font-size: 16px;
  }
  .content-txt-offer__title{
    font-size: 45px;
  }
  .design-panel-title, .design-panel-img{
    max-width: 350px;
  }
  .comment-txt{
    width: 487px;
  }
  .btns-overlay{
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .container{
    max-width: 720px;
  }
  .main-offer__h1{
    text-align: center;
    width: 100%;
  }
  .main-offer__nav-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-offer{
    align-items: center;
  }
  .mgauto{
    margin: 0 auto;
  }
  .autor-about__name{
    text-align: center;
    margin-bottom: 15px;
  }
  .autor-about__intro{
    text-align: center;
    margin: 0 auto;
  }
  .autro-about__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
  }
  .autro-about__btns div{
    margin: 10px;
  }
  .tablet-href__place{
    width: 33%;
    height: 223px;
  }
  .tablet-href__place__txt{
    width: 33%;
    font-size: 28px;
  }
  .locomotive-content{
    display: block;
  }
  .content-txt-offer *{
    text-align: center;
    margin: 0 auto;
  }
  .content-txt-offer__btns{
    margin-top: 15px;
  }
  .content-txt-offer__title{
    margin-top: 15px;
  }
  .design-panel-title, .design-panel-img{
    max-width: 100%;
    font-size: 20px;
    line-height: 22px;
  }
  .section-form-h1{
    text-align: center;
  }
  .main-form{
    display: block;
  }
  .inuts-info input{
    max-width: 100%;
    margin: 0 auto;
  }
  .comment-txt{
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  .budjet{
    display: block;
    align-items: center;
    width: 110px;
    margin: 30px auto;
  }
  .form-checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
  }
  .form-checkboxes div, button{
    margin: 10px;
  }
  .footer__wrp {
      display: grid;
      justify-items: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      grid-gap: 15px;
  }
  .btns-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
  }
  .overlay-for-slider{
    background: linear-gradient(360deg, #0C0C0C 2.19%, rgba(65, 31, 146, 0) 100%);
  }
  .about__h1{
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .container{
    width: 100%;
    padding: 0 20px;
  }
  .mobile-wrapper{
    display: block;
    justify-content: center;
    margin-top: 20px;
    grid-gap: 20px;
  }
  .mobile-wrapper a{
    display: flex;
    justify-content: center;
  }
  .header-wrapper{
    display: none;
  }
  .sociav-and-menu-wrp{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .main-offer{
    margin-top: 50px;
  }
  h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .main-offer__nav-menu{
    grid-gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
  }
  .about-txt{
    display: grid;
    grid-gap: 30px;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .about-txt p{
    text-align: center;
    font-size: 16px;
  }
  .txt-offer__main-txt, .txt-offer__main-txt *{
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    text-align: center;
  }
  .animation-txt-intro{
    margin-top: 30px;
  }
  .tablet-href{
    height: auto;
    border: none;
    display: block;
  }
  .tablet-href__place{
    display: block;
    padding: 30px 20px;
    border: 1px solid #0D0D0D;
    width: 100%;
    height: auto;
  }
  .content-txt-offer__title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .design-panel{
    display: grid;
  }
  .design-panel li{
    max-width: 100%;
  }
  .design-panel{
    text-align: center;
  }
  .main-form{
    width: 100%;
  }
  .close-modal-btn {
    top: 2%;
    right: 12%;
  }
  .overlay-menu-nav{
    width: 100%;
  }
  .overlay-menu-mobile span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 10px;
  }
  .overlay-menu-mobile {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .contacts-overlay{
    margin-top: 5px;
  }
  .btns-overlay div{
    margin: 5px;
  }
  .btninside{
    width: 200px;
  }
  .content-txt-offer__btns{
    width: 100%;
  }
  .inuts-info input{
    font-size: 32px;
  }
  .footer__wrp img{
    width: 100%;
    height: auto;
  }
  .footer__txt{
    text-align: center;
  }
  .comment-txt{
    padding: 10px 0 0 10px;
  }
  
}


/* PRELOADER */
.load{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0C0C0C;
  align-items: center;
  top: 0;
  z-index: 99999;
}
@keyframes hide {
  0%{
    opacity: 1;
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(-180deg);
    opacity: 0;
  }
}
.hide-preloader{
  animation: hide 1s;
}
.preloader {
  top: 30%;
  left: 40%;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
	position: relative;
}

.loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset,
		0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #ffffff,
		0 2px 3px #ffffff,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}
